* {
    box-sizing: border-box;
}

body {
    margin: auto;
}

.plane {
    height: 3000px;
    width: 900px;
    background-color: white;
    margin: 100px auto;
    display: flex;
    flex-wrap: wrap;
}

.plane div {
    height: 100px;
    width: 100px;
}

.path {
    background-color: white;
}

.window {
    background-color: blue;
    border-radius: 50%;
}

.seat {
    background-color: grey;
    border-radius: 50%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}